html
	head
		title RMS Login
		//- style.
		//- 	.login{
		//- 		display:inline;
				
		//- 	}	
	body
		include ./header
		div#loginResponse 
			//- p Hello
		div#loginBar
			p Username (Must be unique):
				input#loginUser(type="textbox")
			p Password:
				input#loginPassword(type="password")
			button#login(type="button") Login
			br

		//- h4 Click Restaurants to view a list of restaurants 
		//- h4 Click Add Restaurants to add a new restaurant to the database
		br
			
		//- script(src="/client.js")
		include ./footer

	script
		include ../clients/login-client.js